Repository woowacourse-teams/2023-diggin-room, pull requests merged in 2023-09, with the labels that each got.

#284 다크 모드에서 RoomInfo 와 Comment의 텍스트가 잘 보이도록 수정
  android/app/src/main/res/layout/dialog_comment_menu_layout.xml
  android/app/src/main/res/layout/dialog_track_info_layout.xml
  android/app/src/main/res/layout/item_comment.xml
  android/app/src/main/res/values-night/color.xml
  android/app/src/main/res/values/colors.xml
Labels: android, fix

#285 refactor: LoginActivity내에 존재하는 Activity의존 코드를 바인딩 어댑터가 아닌 observe()를 이용해서 리팩터링한다.
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginResultListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginUiState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/navigator/DefaultLoginNavigator.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/navigator/LoginNavigator.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/DefaultSplashNavigator.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/SplashActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/SplashBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/SplashNavigator.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/SplashViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/TokenState.kt
  android/app/src/main/java/com/digginroom/digginroom/model/AccountModel.kt
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_splash.xml
  android/app/src/test/java/com/digginroom/digginroom/feature/login/LoginViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/feature/splash/SplashViewModelTest.kt
Labels: android, refactoring

#287 CommentState 관련있는 것 끼리 묶고 댓글 버그 수정
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/CommentActionState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/CommentDialogBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/CommentRequestState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/CommentState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/CommentViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/CommentDialog.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/CommentEventListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/DefaultCommentEventListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/DefaultShowCommentsListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/result/CommentRequestResultListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/result/DefaultShowCommentMenuListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/result/DeleteCommentResultListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/result/PostCommentResultListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/result/RequestResultListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/result/UpdateCommentResultListener.kt
  android/app/src/main/res/layout/dialog_comment_layout.xml
  android/app/src/test/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/CommentViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/fixture/CommentFixture.kt
Labels: android, fix

#293 feat: id를 사용하는 entity는 BaseEntity를 상속하도록 수정
  backend/src/main/java/com/digginroom/digginroom/admin/service/UploadService.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/CommentResponse.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/MemberDetailsResponse.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/MemberLoginResponse.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/MemberSaveRequest.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/TrackResponse.java
  backend/src/main/java/com/digginroom/digginroom/domain/BaseEntity.java
  backend/src/main/java/com/digginroom/digginroom/domain/Provider.java
  backend/src/main/java/com/digginroom/digginroom/domain/comment/Comment.java
  backend/src/main/java/com/digginroom/digginroom/domain/mediasource/MediaSource.java
  backend/src/main/java/com/digginroom/digginroom/domain/member/DislikeRooms.java
  backend/src/main/java/com/digginroom/digginroom/domain/member/Member.java
  backend/src/main/java/com/digginroom/digginroom/domain/member/MemberGenre.java
  backend/src/main/java/com/digginroom/digginroom/domain/member/MemberGenres.java
  backend/src/main/java/com/digginroom/digginroom/domain/member/Password.java
  backend/src/main/java/com/digginroom/digginroom/domain/member/Provider.java
  backend/src/main/java/com/digginroom/digginroom/domain/member/ScrapRooms.java
  backend/src/main/java/com/digginroom/digginroom/domain/member/WeightFactor.java
  backend/src/main/java/com/digginroom/digginroom/domain/member/WeightStatus.java
  backend/src/main/java/com/digginroom/digginroom/domain/room/Room.java
  backend/src/main/java/com/digginroom/digginroom/domain/track/SubGenreConverter.java
  backend/src/main/java/com/digginroom/digginroom/domain/track/Track.java
  backend/src/main/java/com/digginroom/digginroom/repository/CommentRepository.java
  backend/src/main/java/com/digginroom/digginroom/repository/MemberRepository.java
  backend/src/main/java/com/digginroom/digginroom/repository/RoomRepository.java
  backend/src/main/java/com/digginroom/digginroom/repository/TrackRepository.java
  backend/src/main/java/com/digginroom/digginroom/service/CommentService.java
  backend/src/main/java/com/digginroom/digginroom/service/GenreRecommender.java
  backend/src/main/java/com/digginroom/digginroom/service/MemberService.java
  backend/src/main/java/com/digginroom/digginroom/service/RoomService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V2.1__initial_scheme.sql
  backend/src/main/resources/db/migration/V3__room_scrap_count_added.sql
  backend/src/main/resources/db/migration/V4.1__create_column_provider_from_member.sql
  backend/src/main/resources/db/migration/V4.2__create_column_scrap_count_from_room.sql
  backend/src/main/resources/db/migration/V4.3__create_column_description_from_track.sql
  backend/src/main/resources/db/migration/V4.4__create_column_has_favorite_from_member.sql
  backend/src/main/resources/db/migration/V4.5__create_table_comment.sql
  backend/src/main/resources/db/migration/V4__track_description_added.sql
  backend/src/main/resources/db/migration/V5.1__create_column_created_at.sql
  backend/src/main/resources/db/migration/V5.2__update_column_updated_at.sql
  backend/src/test/java/com/digginroom/digginroom/TestFixture.java
  backend/src/test/java/com/digginroom/digginroom/controller/CommentControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/RoomControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/MediaSourceTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/MemberGenreTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/MemberTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/PasswordTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/RoomTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/TrackTest.java
  backend/src/test/java/com/digginroom/digginroom/repository/MemberRepositoryTest.java
  backend/src/test/java/com/digginroom/digginroom/repository/RoomRepositoryTest.java
  backend/src/test/java/com/digginroom/digginroom/service/MemberServiceTest.java
  backend/src/test/java/com/digginroom/digginroom/service/RoomServiceTest.java
Labels: backend

#295 refactor: JoinActivity에 UI State를 적용한다.
  android/app/src/main/java/com/digginroom/digginroom/feature/join/JoinActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/join/JoinBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/join/JoinResultListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/join/JoinState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/join/JoinUiState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/join/JoinViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/join/navigator/DefaultJoinNavigator.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/join/navigator/JoinNavigator.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/model/JoinAccountModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/JoinVerificationModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/mapper/JoinVerificationMapper.kt
  android/app/src/main/res/layout/activity_join.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/test/java/com/digginroom/digginroom/feature/join/JoinViewModelTest.kt
  android/domain/src/main/java/com/digginroom/digginroom/model/user/IdVerification.kt
  android/domain/src/main/java/com/digginroom/digginroom/model/user/JoinVerification.kt
  android/domain/src/main/java/com/digginroom/digginroom/model/user/PasswordVerification.kt
  android/domain/src/test/java/com/digginroom/model/AccountFixture.kt
  android/domain/src/test/java/com/digginroom/model/IdVerificationFixture.kt
  android/domain/src/test/java/com/digginroom/model/PasswordVerificationFixture.kt
  android/domain/src/test/java/com/digginroom/model/join/IdVerificationTest.kt
  android/domain/src/test/java/com/digginroom/model/join/JoinVerificationTest.kt
  android/domain/src/test/java/com/digginroom/model/join/PasswordVerificationTest.kt
Labels: android, refactoring

#299 refactor: GenreTasteActivity에 uiState를 적용한다.
  android/app/build.gradle
  android/app/src/main/java/com/digginroom/digginroom/feature/genretaste/GenreTasteActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/genretaste/GenreTasteBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/genretaste/GenreTasteResultListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/genretaste/GenreTasteSurveyState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/genretaste/GenreTasteUiState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/genretaste/GenreTasteViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/genretaste/adpater/GenreTasteAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/join/JoinActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/model/GenreTasteSelectionModel.kt
  android/app/src/main/java/com/digginroom/digginroom/util/BindingAdapter.kt
  android/app/src/main/res/drawable/ic_checked.png
  android/app/src/main/res/layout/activity_genre_taste.xml
  android/app/src/main/res/layout/item_genre.xml
  android/app/src/test/java/com/digginroom/digginroom/feature/genretaste/GenreTasteViewModelTest.kt
Labels: android, refactoring

#302 fix: Scrap 가능하도록 수정
  android/app/src/main/java/com/digginroom/digginroom/feature/ResultListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomPagerAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/scraptoggle/ScrapToggle.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/scraptoggle/ScrapToggleBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/roominfo/RoomInfoUiState.kt
  android/app/src/main/res/layout/activity_genre_taste.xml
  android/app/src/main/res/layout/activity_room.xml
  android/app/src/main/res/layout/item_room_info.xml
  android/app/src/main/res/values/dimen.xml
  android/app/src/test/java/com/digginroom/digginroom/feature/room/comment/CommentViewModelTest.kt
Labels: android, fix

#305 feat: 유튜브 영상 화면 꽉 채우기
  android/app/src/main/java/com/digginroom/digginroom/data/di/RemoteDataSourceProvider.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/SampleRoomRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/YoutubeRoomPlayer.kt
Labels: android, feat

#307 refactor: 룸 업로드 페이지 리팩터링
  backend/src/main/java/com/digginroom/digginroom/admin/controller/UploadController.java
  backend/src/main/java/com/digginroom/digginroom/admin/controller/dto/UploadRequest.java
  backend/src/main/resources/templates/uploadForm.html
Labels: backend, feat

#301 feat: 카카오 소셜 로그인 기능을 구현한다.
  backend/build.gradle
  backend/src/main/java/com/digginroom/digginroom/controller/MemberLoginController.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/CommentResponse.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/KakaoOAuthRequest.java
  backend/src/main/java/com/digginroom/digginroom/domain/member/Member.java
  backend/src/main/java/com/digginroom/digginroom/domain/member/Nickname.java
  backend/src/main/java/com/digginroom/digginroom/domain/member/Provider.java
  backend/src/main/java/com/digginroom/digginroom/exception/OAuthResolverException.java
  backend/src/main/java/com/digginroom/digginroom/oauth/CachedJwkProvider.java
  backend/src/main/java/com/digginroom/digginroom/oauth/CachedJwkProviderConfig.java
  backend/src/main/java/com/digginroom/digginroom/oauth/CachedJwkProviders.java
  backend/src/main/java/com/digginroom/digginroom/oauth/IdTokenResolver.java
  backend/src/main/java/com/digginroom/digginroom/service/GoogleUsernameResolver.java
  backend/src/main/java/com/digginroom/digginroom/service/MemberService.java
  backend/src/main/java/com/digginroom/digginroom/service/OAuthUsernameResolver.java
  backend/src/main/resources/db/migration/V5.4__create_column_nickname_from_member.sql
  backend/src/test/java/com/digginroom/digginroom/TestFixture.java
  backend/src/test/java/com/digginroom/digginroom/controller/CommentControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberLoginControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/OAuthTestConfig.java
  backend/src/test/java/com/digginroom/digginroom/service/GoogleIdTokenResolverTest.java
  backend/src/test/java/com/digginroom/digginroom/service/MemberServiceTest.java
  backend/src/test/java/com/digginroom/digginroom/util/TestClaim.java
Labels: backend, feat

#314 feat: IdTokenResolver가 Provider에 맞게 동작한다
  backend/src/main/java/com/digginroom/digginroom/controller/MemberLoginController.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/IdTokenRequest.java
  backend/src/main/java/com/digginroom/digginroom/domain/member/Provider.java
  backend/src/main/java/com/digginroom/digginroom/exception/OAuthResolverException.java
  backend/src/main/java/com/digginroom/digginroom/oauth/CachedJwkProvider.java
  backend/src/main/java/com/digginroom/digginroom/oauth/CachedJwkProviderConfig.java
  backend/src/main/java/com/digginroom/digginroom/oauth/CachedJwkProviders.java
  backend/src/main/java/com/digginroom/digginroom/oauth/IdTokenResolver.java
  backend/src/main/java/com/digginroom/digginroom/oauth/jwk/GoogleJwkProvider.java
  backend/src/main/java/com/digginroom/digginroom/oauth/jwk/JwkUrl.java
  backend/src/main/java/com/digginroom/digginroom/oauth/jwk/KakaoJwkProvider.java
  backend/src/main/java/com/digginroom/digginroom/oauth/jwk/ThirdPartyJwkProvider.java
  backend/src/main/java/com/digginroom/digginroom/oauth/jwk/ThirdPartyJwkProviders.java
  backend/src/main/java/com/digginroom/digginroom/oauth/payload/GoogleIdTokenPayload.java
  backend/src/main/java/com/digginroom/digginroom/oauth/payload/IdTokenPayload.java
  backend/src/main/java/com/digginroom/digginroom/oauth/payload/KakaoIdTokenPayload.java
  backend/src/main/java/com/digginroom/digginroom/service/MemberService.java
  backend/src/test/java/com/digginroom/digginroom/TestFixture.java
  backend/src/test/java/com/digginroom/digginroom/domain/member/ProviderTest.java
  backend/src/test/java/com/digginroom/digginroom/oauth/GoogleIdTokenResolverTest.java
  backend/src/test/java/com/digginroom/digginroom/oauth/jwk/JwkUrlTest.java
  backend/src/test/java/com/digginroom/digginroom/oauth/jwk/ThirdPartyJwkProvidersTest.java
  backend/src/test/java/com/digginroom/digginroom/service/MemberServiceTest.java
Labels: backend, feat

#312 feat: 카카오 소셜 로그인 기능을 구현한다.
  android/RoomPager/src/main/java/com/dygames/roompager/RoomRecycler.kt
  android/RoomPager/src/main/java/com/dygames/roompager/scrollpager/VerticalScrollPager.kt
  android/RoomPager/src/main/java/com/dygames/roompager/util/ScreenSizeUtil.kt
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/digginroom/digginroom/DigginRoomApplication.kt
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/AccountRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/KakaoLoginRequest.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/SocialLoginRequest.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultAccountRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/service/AccountService.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginUiState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/SocialLogin.kt
  android/app/src/main/java/com/digginroom/digginroom/util/Event.kt
  android/app/src/main/java/com/digginroom/digginroom/util/MutableSingleLiveData.kt
  android/app/src/main/java/com/digginroom/digginroom/util/SingleLiveData.kt
  android/app/src/main/res/drawable/ic_kakao_login.png
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/test/java/com/digginroom/digginroom/feature/login/LoginViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/feature/room/comment/CommentViewModelTest.kt
  android/domain/src/main/java/com/digginroom/digginroom/repository/AccountRepository.kt
  android/settings.gradle
Labels: android, feat

#326 fix: 아이디 중복 확인 버튼을 눌렀을 때만 요청을 보낸다.
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/AccountRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/KakaoLoginRequest.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultAccountRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/service/AccountService.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/join/JoinActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/join/JoinUiState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/join/JoinViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginViewModel.kt
  android/app/src/main/res/layout/activity_join.xml
  android/app/src/test/java/com/digginroom/digginroom/feature/join/JoinViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/feature/login/LoginViewModelTest.kt
  android/domain/src/main/java/com/digginroom/digginroom/model/user/IdVerification.kt
  android/domain/src/main/java/com/digginroom/digginroom/repository/AccountRepository.kt
Labels: android, fix

#324 feat: Youtube 영상 사이즈 로딩에 실패했을 때만 크기를 원본으로 설정한다
  .github/workflows/ci-android.yml
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/YoutubeRoomPlayer.kt
Labels: android, fix

#328 fix: 댓글 State 오류 수정
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/dialog/CommentDialog.kt
  android/app/src/test/java/com/digginroom/digginroom/feature/room/comment/CommentViewModelTest.kt
Labels: android, fix

#334 feat: 게스트 로그인을 구현한다.
  android/app/build.gradle
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/AccountRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultAccountRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/service/AccountService.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/join/JoinActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/dialog/CommentDialog.kt
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/digginroom/digginroom/repository/AccountRepository.kt
Labels: android, feat
