Repository woowacourse-teams/2023-diggin-room, pull requests merged in 2023-07, with the labels that each got.

#9 chore: 버그 제보 이슈 템플릿
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: docs, common

#17 feat: 도메인 구조를 정의한다.
  android/build.gradle
  android/domain/.gitignore
  android/domain/build.gradle
  android/domain/src/main/java/com/digginroom/model/room/Genre.kt
  android/domain/src/main/java/com/digginroom/model/room/Room.kt
  android/domain/src/main/java/com/digginroom/model/room/Song.kt
  android/domain/src/main/java/com/digginroom/model/user/User.kt
  android/domain/src/main/java/com/digginroom/repository/RoomRepository.kt
  android/domain/src/main/java/com/digginroom/repository/UserRepository.kt
  android/domain/src/test/java/com/digginroom/model/room/RoomTest.kt
  android/settings.gradle
Labels: android, feat

#20 chore: 데이터 바인딩 설정
  android/app/build.gradle
Labels: android

#25 chore: 프로젝트 초기 설정
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/digginroom/digginroom/DigginRoomApplication.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/digginroom/digginroom/DigginRoomApplicationTests.java
Labels: backend, feat

#27 feat: 에러 템플릿 구현
  backend/build.gradle
  backend/src/main/java/com/digginroom/digginroom/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/ErrorResponse.java
  backend/src/main/java/com/digginroom/digginroom/exception/ErrorCode.java
  backend/src/test/java/com/digginroom/digginroom/controller/ControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/GlobalExceptionHandlerTest.java
Labels: backend, feat

#42 refactor: 커스텀 예외를 수정한다
  backend/src/main/java/com/digginroom/digginroom/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/ErrorResponse.java
  backend/src/main/java/com/digginroom/digginroom/exception/DigginRoomException.java
  backend/src/main/java/com/digginroom/digginroom/exception/ErrorCode.java
  backend/src/main/java/com/digginroom/digginroom/exception/RoomException.java
Labels: backend, feat, parent

#43 refactor: 부모 예외를 추상 클래스로 수정
  backend/src/main/java/com/digginroom/digginroom/exception/RoomException.java
Labels: backend, feat, child

#47 feat: 기본적인 회원가입 기능을 구현한다.
  backend/src/main/java/com/digginroom/digginroom/controller/MemberController.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/MemberDuplicationResponse.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/MemberSaveRequest.java
  backend/src/main/java/com/digginroom/digginroom/domain/Member.java
  backend/src/main/java/com/digginroom/digginroom/exception/MemberException.java
  backend/src/main/java/com/digginroom/digginroom/repository/MemberRepository.java
  backend/src/main/java/com/digginroom/digginroom/service/MemberService.java
  backend/src/test/java/com/digginroom/digginroom/controller/GlobalExceptionHandlerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/dto/MemberSaveRequestTest.java
  backend/src/test/java/com/digginroom/digginroom/service/MemberServiceTest.java
Labels: backend, feat, child

#45 feat: 룸 탐색 기능을 구현한다.
  backend/src/main/java/com/digginroom/digginroom/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/digginroom/digginroom/controller/RoomController.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/RoomResponse.java
  backend/src/main/java/com/digginroom/digginroom/domain/MediaSource.java
  backend/src/main/java/com/digginroom/digginroom/domain/Room.java
  backend/src/main/java/com/digginroom/digginroom/exception/MediaSourceException.java
  backend/src/main/java/com/digginroom/digginroom/exception/RoomException.java
  backend/src/main/java/com/digginroom/digginroom/repository/RoomRepository.java
  backend/src/main/java/com/digginroom/digginroom/service/RoomService.java
  backend/src/test/java/com/digginroom/digginroom/domain/MediaSourceTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/RoomTest.java
  backend/src/test/java/com/digginroom/digginroom/repository/RoomRepositoryTest.java
  backend/src/test/java/com/digginroom/digginroom/service/RoomServiceTest.java
Labels: backend, feat

#55 feat: 유저를 조회하는 기능을 구현한다.
  backend/src/main/java/com/digginroom/digginroom/controller/MemberController.java
  backend/src/main/java/com/digginroom/digginroom/domain/Member.java
  backend/src/main/java/com/digginroom/digginroom/exception/MemberException.java
  backend/src/main/java/com/digginroom/digginroom/service/MemberService.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/dto/MemberSaveRequestTest.java
  backend/src/test/java/com/digginroom/digginroom/service/MemberServiceTest.java
Labels: backend, feat, child

#57 feat: 룸 스크랩, 취소를 구현한다
  backend/src/main/java/com/digginroom/digginroom/controller/dto/RoomResponse.java
  backend/src/main/java/com/digginroom/digginroom/domain/Member.java
  backend/src/main/java/com/digginroom/digginroom/exception/RoomException.java
  backend/src/main/java/com/digginroom/digginroom/service/RoomService.java
  backend/src/test/java/com/digginroom/digginroom/repository/RoomRepositoryTest.java
  backend/src/test/java/com/digginroom/digginroom/service/RoomServiceTest.java
Labels: backend, feat

#61 Room 캐싱 전략/양방향 스크롤러뷰를 구현한다.
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/RoomRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/viewmodels/RoomCacheStrategy.kt
  android/app/src/main/java/com/digginroom/digginroom/viewmodels/RoomPagerViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/viewmodels/RoomViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/viewmodels/YoutubeRoomCacheStrategy.kt
  android/app/src/main/java/com/digginroom/digginroom/views/activity/RoomActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/views/bindingAdapter/RoomBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/views/bindingAdapter/RoomPagerBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customView/roomView/RoomYoutubeView.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customView/roompager/RoomPager.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customView/roompager/RoomPagerAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customView/roompager/RoomPagerViewHolder.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customView/roompager/ScrollGestureListener.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customview/roompager/PagingState.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customview/roompager/RoomPager.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customview/roomview/RoomPlayer.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customview/roomview/RoomState.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customview/roomview/YoutubeRoomPlayer.kt
  android/app/src/main/res/layout/activity_room.xml
  android/app/src/main/res/layout/item_room_pager.xml
Labels: android, feat

#67 chore: 초기 데이터를 삽입한다
  .github/workflows/gradle.yml
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
Labels: backend, feat

#69 feat: 로그인 기능을 구현한다.
  .github/workflows/gradle.yml
  backend/src/main/java/com/digginroom/digginroom/config/WebMvcConfig.java
  backend/src/main/java/com/digginroom/digginroom/controller/Auth.java
  backend/src/main/java/com/digginroom/digginroom/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/digginroom/digginroom/controller/MemberArgumentResolver.java
  backend/src/main/java/com/digginroom/digginroom/controller/MemberJoinController.java
  backend/src/main/java/com/digginroom/digginroom/controller/MemberLoginController.java
  backend/src/main/java/com/digginroom/digginroom/controller/RoomController.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/MemberLoginRequest.java
  backend/src/main/java/com/digginroom/digginroom/exception/MemberException.java
  backend/src/main/java/com/digginroom/digginroom/repository/MemberRepository.java
  backend/src/main/java/com/digginroom/digginroom/service/MemberService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
  backend/src/test/java/com/digginroom/digginroom/controller/MemberJoinControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberLoginControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/RoomControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/service/MemberServiceTest.java
  backend/src/test/java/com/digginroom/digginroom/service/RoomServiceTest.java
Labels: backend, feat, child

#65 로그인 기능을 구현한다.
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/local/TokenLocalDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/AccountRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/DefaultAccountRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/LoginResponse.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultAccountRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultTokenRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/service/AccountService.kt
  android/app/src/main/java/com/digginroom/digginroom/viewmodels/JoinViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/viewmodels/LoginViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/views/activity/JoinActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/views/activity/LoginActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/views/bindingAdapter/LoginBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/views/model/mapper/SongMapper.kt
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/digginroom/digginroom/repository/AccountRepository.kt
  android/domain/src/main/java/com/digginroom/digginroom/repository/TokenRepository.kt
Labels: android, feat

#77 Data Layer 수동 의존성 주입, 로그인 성공시 그 토큰트로 Room 요청
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/AccountRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/NetworkModule.kt
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/RoomRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/di/LocalDataSourceProvider.kt
  android/app/src/main/java/com/digginroom/digginroom/data/di/RemoteDataSourceProvider.kt
  android/app/src/main/java/com/digginroom/digginroom/data/di/RepositoryProvider.kt
  android/app/src/main/java/com/digginroom/digginroom/data/di/ViewModelFactory.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultAccountRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/viewmodels/JoinViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/viewmodels/LoginViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/viewmodels/RoomViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/views/activity/JoinActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/views/activity/LoginActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/views/activity/RoomActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/views/bindingAdapter/JoinBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customview/roompager/RoomPager.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customview/roomview/YoutubeRoomPlayer.kt
  android/app/src/test/java/com/digginroom/digginroom/LearningTest.kt
Labels: android, feat

#87 feat: 2차 데모데이까지의 백엔드 기능을 반영한다
  .github/workflows/gradle.yml
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/digginroom/digginroom/DigginRoomApplication.java
  backend/src/main/java/com/digginroom/digginroom/config/WebMvcConfig.java
  backend/src/main/java/com/digginroom/digginroom/controller/Auth.java
  backend/src/main/java/com/digginroom/digginroom/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/digginroom/digginroom/controller/MemberArgumentResolver.java
  backend/src/main/java/com/digginroom/digginroom/controller/MemberJoinController.java
  backend/src/main/java/com/digginroom/digginroom/controller/MemberLoginController.java
  backend/src/main/java/com/digginroom/digginroom/controller/RoomController.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/ErrorResponse.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/MemberDuplicationResponse.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/MemberLoginRequest.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/MemberSaveRequest.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/RoomRequest.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/RoomResponse.java
  backend/src/main/java/com/digginroom/digginroom/domain/MediaSource.java
  backend/src/main/java/com/digginroom/digginroom/domain/Member.java
  backend/src/main/java/com/digginroom/digginroom/domain/Room.java
  backend/src/main/java/com/digginroom/digginroom/exception/DigginRoomException.java
  backend/src/main/java/com/digginroom/digginroom/exception/MediaSourceException.java
  backend/src/main/java/com/digginroom/digginroom/exception/MemberException.java
  backend/src/main/java/com/digginroom/digginroom/exception/RoomException.java
  backend/src/main/java/com/digginroom/digginroom/repository/MemberRepository.java
  backend/src/main/java/com/digginroom/digginroom/repository/RoomRepository.java
  backend/src/main/java/com/digginroom/digginroom/service/MemberService.java
  backend/src/main/java/com/digginroom/digginroom/service/RoomService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
  backend/src/test/java/com/digginroom/digginroom/DigginRoomApplicationTests.java
  backend/src/test/java/com/digginroom/digginroom/controller/ControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/GlobalExceptionHandlerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberJoinControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberLoginControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/RoomControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/dto/MemberSaveRequestTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/MediaSourceTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/RoomTest.java
  backend/src/test/java/com/digginroom/digginroom/repository/RoomRepositoryTest.java
  backend/src/test/java/com/digginroom/digginroom/service/MemberServiceTest.java
  backend/src/test/java/com/digginroom/digginroom/service/RoomServiceTest.java
Labels: backend, feat

#93 feat: 배포 자동화를 한다.
  .github/workflows/cd.yml
Labels: backend, feat

#90 feat: 세부 예외 처리 및 Rolling 을 구현한다.
  backend/.gitignore
  backend/src/main/java/com/digginroom/digginroom/controller/GlobalExceptionHandler.java
  backend/src/main/resources/logback-spring.xml
Labels: backend, feat

#96 feat: 배포 자동화를 한다.
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: backend, feat

#99 feat: 요청-응답 로깅 구현
  backend/src/main/java/com/digginroom/digginroom/config/LogFilter.java
Labels: backend, feat

#103 feat: 프로덕션 서버 배포 자동화
  .github/workflows/cd-dev.yml
  .github/workflows/cd-prod.yml
Labels: backend, feat

#94 Feature/84
  android/app/src/main/java/com/digginroom/digginroom/viewmodels/JoinViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/viewmodels/LoginViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/viewmodels/NonNullMutableLiveData.kt
  android/app/src/main/java/com/digginroom/digginroom/views/activity/JoinActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/views/activity/JoinNavigationHandler.kt
  android/app/src/main/java/com/digginroom/digginroom/views/activity/JoinNavigator.kt
  android/app/src/main/java/com/digginroom/digginroom/views/activity/JoinResultListener.kt
  android/app/src/main/java/com/digginroom/digginroom/views/activity/JoinState.kt
  android/app/src/main/java/com/digginroom/digginroom/views/activity/LoginActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/views/activity/LoginNavigationHandler.kt
  android/app/src/main/java/com/digginroom/digginroom/views/activity/LoginNavigator.kt
  android/app/src/main/java/com/digginroom/digginroom/views/activity/LoginResultListener.kt
  android/app/src/main/java/com/digginroom/digginroom/views/bindingAdapter/JoinBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/views/bindingAdapter/LoginBindingAdapter.kt
  android/app/src/main/res/drawable/bg_gradient_gray_radius.xml
  android/app/src/main/res/drawable/button_selector.xml
  android/app/src/main/res/drawable/ic_diggin_room_logo1.png
  android/app/src/main/res/font/changa_bold.ttf
  android/app/src/main/res/layout/activity_join.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feat

#110 feat: 스프린트3 백엔드 기능을 선반영한다
  .github/workflows/cd-dev.yml
  .github/workflows/cd-prod.yml
  .github/workflows/ci.yml
  backend/.gitignore
  backend/src/main/java/com/digginroom/digginroom/config/LogFilter.java
  backend/src/main/java/com/digginroom/digginroom/controller/GlobalExceptionHandler.java
  backend/src/main/resources/logback-spring.xml
Labels: backend

#116 fix: 배포 스크립트 오류
  .github/workflows/cd-dev.yml
  .github/workflows/gradle.yml
Labels: backend

#114 RoomPager에서 RoomRepository의 Room들을 받아와 리사이클링시 캐싱후 미리 재생
  android/app/src/main/java/com/digginroom/digginroom/views/bindingAdapter/RoomPagerBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customview/roompager/HorizontalScrollPager.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customview/roompager/RoomPager.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customview/roompager/RoomRecycler.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customview/roompager/ScrollPager.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customview/roompager/VerticalScrollPager.kt
  android/app/src/main/java/com/digginroom/digginroom/views/customview/roomview/YoutubeRoomPlayer.kt
  android/app/src/main/res/layout/activity_room.xml
Labels: android, feat

#120 배포 환경별 설정을 분리한다
  .github/workflows/cd-dev.yml
  .github/workflows/cd-prod.yml
  backend/src/main/resources/application-develop.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-production.yml
  backend/src/main/resources/application.yml
Labels: backend, feat
