Repository woowacourse-teams/2023-diggin-room, pull requests merged in 2023-11, with the labels that each got.

#408 feat: 댓글 무한 스크롤을 구현한다.
  backend/src/main/java/com/digginroom/digginroom/controller/CommentController.java
  backend/src/main/java/com/digginroom/digginroom/exception/CommentException.java
  backend/src/main/java/com/digginroom/digginroom/repository/CommentRepository.java
  backend/src/main/java/com/digginroom/digginroom/service/CommentService.java
  backend/src/test/java/com/digginroom/digginroom/controller/CommentControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/repository/CommentRepositoryTest.java
  backend/src/test/java/com/digginroom/digginroom/service/CommentServiceTest.java
Labels: backend, feat

#419 댓글 무한 스크롤을 구현한다
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/CommentRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultCommentRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/SampleCommentRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/service/CommentService.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/CommentViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/adapter/CommentAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/adapter/CommentDiffUtilCallback.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/adapter/CommentLoadingViewHolder.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/adapter/CommentViewHolder.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/adapter/CommentViewType.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/dialog/BottomFixedItemBottomSheetDialog.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/dialog/CommentDialog.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/dialog/CommentDialogBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/uistate/CommentResponseUiState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/uistate/CommentUiState.kt
  android/app/src/main/java/com/digginroom/digginroom/model/CommentModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/mapper/CommentMapper.kt
  android/app/src/main/res/layout/dialog_comment_bottom_placed_item_layout.xml
  android/app/src/main/res/layout/dialog_comment_layout.xml
  android/app/src/main/res/layout/fragment_tutorial_scroll_horizontal.xml
  android/app/src/main/res/layout/item_comment.xml
  android/app/src/main/res/layout/item_comment_loading.xml
  android/app/src/main/res/layout/item_room_info.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/digginroom/digginroom/feature/room/comment/CommentViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/fixture/CommentFixture.kt
  android/domain/src/main/java/com/digginroom/digginroom/repository/CommentRepository.kt
Labels: android, feat

#429 feat: PasswordEncoder 변경 및 DirtiesContext 삭제
  backend/src/main/java/com/digginroom/digginroom/domain/member/Member.java
  backend/src/main/java/com/digginroom/digginroom/domain/member/Password.java
  backend/src/main/java/com/digginroom/digginroom/service/MemberService.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/MemberSaveRequest.java
  backend/src/main/java/com/digginroom/digginroom/util/DigginRoomPasswordEncoder.java
  backend/src/main/java/com/digginroom/digginroom/util/PasswordEncoder.java
  backend/src/test/java/com/digginroom/digginroom/TestFixture.java
  backend/src/test/java/com/digginroom/digginroom/controller/CommentControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/ControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberArgumentResolverTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberJoinControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberLoginControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberOperationControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/RoomControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/PasswordTest.java
  backend/src/test/java/com/digginroom/digginroom/feedback/controller/FeedbackControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/service/MemberServiceTest.java
  backend/src/test/java/com/digginroom/digginroom/service/RoomServiceTest.java
  backend/src/test/java/com/digginroom/digginroom/util/DatabaseCleaner.java
  backend/src/test/java/com/digginroom/digginroom/util/DatabaseCleanerExtension.java
  backend/src/test/java/com/digginroom/digginroom/util/TestClaim.java
Labels: backend

#439 refactor: 유튜브 브랜딩 가이드에 따른 플레이리스트 추출 버튼 이미지 변경
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/activity/ScrapListActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/viewmodel/ScrapUiState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/viewmodel/ScrapViewModel.kt
  android/app/src/main/res/drawable/ic_extract_playlist.png
  android/app/src/main/res/drawable/ic_extract_playlist.xml
  android/app/src/main/res/layout/activity_scrap.xml
  android/domain/src/main/java/com/digginroom/digginroom/model/room/scrap/ScrappedRooms.kt
Labels: android, feat, refactoring
