Repository woowacourse-teams/2023-diggin-room, pull requests merged in 2023-08, with the labels that each got.

#112 feat: 비밀번호 암호화를 적용한다
  backend/src/main/java/com/digginroom/digginroom/domain/Member.java
  backend/src/main/java/com/digginroom/digginroom/exception/EncryptException.java
  backend/src/main/java/com/digginroom/digginroom/service/MemberService.java
  backend/src/main/java/com/digginroom/digginroom/util/DigginRoomPasswordEncoder.java
  backend/src/main/java/com/digginroom/digginroom/util/HashAlgorithm.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberJoinControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberLoginControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/RoomControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/TestFixture.java
  backend/src/test/java/com/digginroom/digginroom/service/MemberServiceTest.java
  backend/src/test/java/com/digginroom/digginroom/util/DigginRoomPasswordEncoderTest.java
  backend/src/test/java/com/digginroom/digginroom/util/HashAlgorithmTest.java
Labels: backend, feat

#136 feat: 트랙 도메인 구현 및 초기 데이터 삽입
  backend/src/main/java/com/digginroom/digginroom/domain/SubGenreConverter.java
  backend/src/main/java/com/digginroom/digginroom/domain/Track.java
  backend/src/main/java/com/digginroom/digginroom/exception/SubGenreConvertingException.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/digginroom/digginroom/domain/TrackTest.java
Labels: backend, feat

#132 feat: 싫어요 기능을 개발한다.
  backend/src/main/java/com/digginroom/digginroom/controller/RoomController.java
  backend/src/main/java/com/digginroom/digginroom/domain/Member.java
  backend/src/main/java/com/digginroom/digginroom/exception/RoomException.java
  backend/src/main/java/com/digginroom/digginroom/service/RoomService.java
  backend/src/test/java/com/digginroom/digginroom/controller/RoomControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/service/RoomServiceTest.java
Labels: backend, feat

#145 feat: RoomPager에서 RoomPosition, Orientation 지정 가능
  android/app/src/main/java/com/digginroom/digginroom/feature/room/bindingadapter/RoomPagerBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/bindingadapter/RoomPlayerBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roompager/PagingOrientation.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roompager/RoomPager.kt
  android/app/src/main/res/layout/activity_room.xml
Labels: android, feat

#144 test: RoomViewModel에 대한 테스트 구현
  android/app/src/test/java/com/digginroom/digginroom/LearningTest.kt
  android/app/src/test/java/com/digginroom/digginroom/RoomFixture.kt
  android/app/src/test/java/com/digginroom/digginroom/feature/join/JoinViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/feature/login/LoginViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/feature/room/RoomViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/feature/scrap/ScrapViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/fixture/LogResult.kt
  android/app/src/test/java/com/digginroom/digginroom/fixture/RoomFixture.kt
Labels: android, feat

#159 fix: RoomPager의 updateRoomPosition()시 해당 roomPosition의 Room이 표시되지 않는 …
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roompager/RoomPager.kt
Labels: android, feat

#163 feat: 룸 추천시 트랙 정보 포함한다.
  backend/src/main/java/com/digginroom/digginroom/controller/dto/RoomResponse.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/TrackResponse.java
  backend/src/main/java/com/digginroom/digginroom/service/RoomService.java
  backend/src/test/java/com/digginroom/digginroom/controller/RoomControllerTest.java
Labels: backend, feat

#155 feat: 룸 스크랩 목록을 조회하는 기능을 구현한다.
  backend/src/main/java/com/digginroom/digginroom/controller/dto/ScrappedRoomResponse.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/ScrappedRoomsResponse.java
  backend/src/main/java/com/digginroom/digginroom/domain/Room.java
  backend/src/test/java/com/digginroom/digginroom/controller/RoomControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/service/MemberServiceTest.java
  backend/src/test/java/com/digginroom/digginroom/service/RoomServiceTest.java
Labels: backend, feat

#169 feat: 초기 데이터를 삽입한다
  backend/src/main/resources/data.sql
Labels: backend, feat

#170 feat: RoomPager에서 첫 번째, 마지막 룸일때 스크롤을 방지한다
  android/app/src/main/java/com/digginroom/digginroom/feature/room/bindingadapter/RoomInfoBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/RoomRecycler.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/DefaultShowRoomInfoListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/RoomInfoView.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/ShowRoomInfoListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/TrackInfoDialog.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/navigator/DefaultRoomNavigator.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/navigator/RoomNavigator.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roompager/RoomPager.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/YoutubeRoomPlayer.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/navigator/RoomNavigator.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/scraptoggle/ScrapToggle.kt
  android/app/src/main/res/layout/room_info.xml
Labels: android, feat

#151 feat: YoutubeRoomPlayer 에 스크랩 뷰 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/RoomRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomInfoListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/ScrapToggle.kt
Labels: android

#179 룸 싫어요
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/RoomRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/di/ViewModelFactory.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/DislikeErrorResponse.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/DislikeRequest.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultRoomRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/service/RoomService.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/DislikeListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/bindingadapter/RoomPagerBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/RoomRecycler.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/RoomInfoView.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roompager/RoomPager.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/YoutubeRoomPlayer.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/scrollpager/HorizontalScrollPager.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/activity/ScrapRoomActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/navigator/DefaultScrapNavigator.kt
  android/app/src/main/java/com/digginroom/digginroom/logging/CommonLogger.kt
  android/app/src/main/java/com/digginroom/digginroom/model/RoomsModel.kt
  android/app/src/main/res/layout/activity_room.xml
  android/app/src/test/java/com/digginroom/digginroom/feature/room/RoomViewModelTest.kt
  android/domain/src/main/java/com/digginroom/digginroom/repository/RoomRepository.kt
Labels: android, feat

#172 feat: 백엔드 3차 데모데이 기능을 반영한다
  .github/workflows/cd-dev.yml
  .github/workflows/cd-prod.yml
  .github/workflows/gradle.yml
  backend/src/main/java/com/digginroom/digginroom/controller/MemberLoginController.java
  backend/src/main/java/com/digginroom/digginroom/controller/RoomController.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/MemberLoginResponse.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/RoomResponse.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/RoomsResponse.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/TrackResponse.java
  backend/src/main/java/com/digginroom/digginroom/domain/DislikeRooms.java
  backend/src/main/java/com/digginroom/digginroom/domain/Genre.java
  backend/src/main/java/com/digginroom/digginroom/domain/Member.java
  backend/src/main/java/com/digginroom/digginroom/domain/MemberGenre.java
  backend/src/main/java/com/digginroom/digginroom/domain/MemberGenres.java
  backend/src/main/java/com/digginroom/digginroom/domain/Room.java
  backend/src/main/java/com/digginroom/digginroom/domain/ScrapRooms.java
  backend/src/main/java/com/digginroom/digginroom/domain/SubGenreConverter.java
  backend/src/main/java/com/digginroom/digginroom/domain/Track.java
  backend/src/main/java/com/digginroom/digginroom/domain/Weight.java
  backend/src/main/java/com/digginroom/digginroom/exception/EncryptException.java
  backend/src/main/java/com/digginroom/digginroom/exception/MemberGenreException.java
  backend/src/main/java/com/digginroom/digginroom/exception/RoomException.java
  backend/src/main/java/com/digginroom/digginroom/exception/SubGenreConvertingException.java
  backend/src/main/java/com/digginroom/digginroom/repository/TrackRepository.java
  backend/src/main/java/com/digginroom/digginroom/service/GenreRecommender.java
  backend/src/main/java/com/digginroom/digginroom/service/MemberService.java
  backend/src/main/java/com/digginroom/digginroom/service/RoomService.java
  backend/src/main/java/com/digginroom/digginroom/util/DigginRoomPasswordEncoder.java
  backend/src/main/java/com/digginroom/digginroom/util/HashAlgorithm.java
  backend/src/main/resources/application-develop.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-production.yml
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
  backend/src/test/java/com/digginroom/digginroom/controller/GlobalExceptionHandlerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberJoinControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberLoginControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/RoomControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/TestFixture.java
  backend/src/test/java/com/digginroom/digginroom/domain/MemberGenreTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/RoomTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/TrackTest.java
  backend/src/test/java/com/digginroom/digginroom/repository/MemberRepositoryTest.java
  backend/src/test/java/com/digginroom/digginroom/repository/RoomRepositoryTest.java
  backend/src/test/java/com/digginroom/digginroom/service/MemberServiceTest.java
  backend/src/test/java/com/digginroom/digginroom/service/RoomServiceTest.java
  backend/src/test/java/com/digginroom/digginroom/util/DigginRoomPasswordEncoderTest.java
  backend/src/test/java/com/digginroom/digginroom/util/HashAlgorithmTest.java
Labels: backend, feat

#184 fix: 배포 스크립트 오류를 해결한다
  .github/workflows/cd-dev.yml
  .github/workflows/cd-prod.yml
Labels: backend, fix

#185 fix: 배포 스크립트 오류를 해결한다
  .github/workflows/cd-dev.yml
  .github/workflows/cd-prod.yml
Labels: backend, bug, 🚨긴급🚨

#204 데이터 레이어를 리팩토링하고 에러를 정의한다.
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/AccountRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/RoomRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/di/RemoteDataSourceProvider.kt
  android/app/src/main/java/com/digginroom/digginroom/data/di/RepositoryProvider.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/CancelScrapErrorResponse.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/DislikeErrorResponse.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/HttpError.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/JoinErrorResponse.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/LoginErrorResponse.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/RoomErrorResponse.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/ScrapErrorResponse.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultRoomRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/service/RoomService.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/DislikeListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomEventListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomInfoListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/ScrapListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/bindingadapter/RoomPagerBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/RoomRecycler.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/RoomInfoView.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roompager/RoomPager.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/ScrapToggle.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/YoutubeRoomPlayer.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/scraptoggle/ScrapToggle.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/ScrapRoomViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/RoomModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/mapper/RoomMapper.kt
  android/app/src/main/res/layout/activity_room.xml
  android/app/src/main/res/layout/activity_scrap_room.xml
  android/app/src/main/res/layout/room_info.xml
  android/app/src/test/java/com/digginroom/digginroom/feature/scraproom/ScrapRoomViewModelTest.kt
  android/domain/src/main/java/com/digginroom/digginroom/repository/RoomRepository.kt
Labels: android, feat

#201 feat: digginroom 앱 아이콘을 추가한다.
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/mipmap-hdpi/ic_digginroom_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_digginroom_logo.png
  android/app/src/main/res/mipmap-hdpi/ic_digginroom_round.png
  android/app/src/main/res/mipmap-mdpi/ic_digginroom_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_digginroom_logo.png
  android/app/src/main/res/mipmap-mdpi/ic_digginroom_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_digginroom_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_digginroom_logo.png
  android/app/src/main/res/mipmap-xhdpi/ic_digginroom_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_digginroom_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_digginroom_logo.png
  android/app/src/main/res/mipmap-xxhdpi/ic_digginroom_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_digginroom_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_digginroom_logo.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_digginroom_round.png
Labels: android, feat

#197 feat: 싫어요 정책 수정사항을 반영
  backend/src/main/java/com/digginroom/digginroom/domain/DislikeRooms.java
  backend/src/main/java/com/digginroom/digginroom/domain/Member.java
  backend/src/main/java/com/digginroom/digginroom/exception/RoomException.java
  backend/src/main/java/com/digginroom/digginroom/service/RoomService.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberJoinControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/RoomControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/MemberTest.java
  backend/src/test/java/com/digginroom/digginroom/repository/MemberRepositoryTest.java
  backend/src/test/java/com/digginroom/digginroom/service/RoomServiceTest.java
Labels: backend, feat

#211 fix: room 스크랩 정보 업데이트 시 스크랩 버튼에 반영되도록 수정
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/RoomRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/YoutubeRoomPlayer.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/scraptoggle/ScrapToggle.kt
  android/app/src/main/res/layout/room_info.xml
Labels: android, fix

#210 feat: 구글 소셜 로그인 구현
  backend/build.gradle
  backend/src/main/java/com/digginroom/digginroom/config/LogFilter.java
  backend/src/main/java/com/digginroom/digginroom/controller/MemberLoginController.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/GoogleOAuthRequest.java
  backend/src/main/java/com/digginroom/digginroom/domain/Member.java
  backend/src/main/java/com/digginroom/digginroom/domain/Password.java
  backend/src/main/java/com/digginroom/digginroom/domain/Provider.java
  backend/src/main/java/com/digginroom/digginroom/exception/MemberException.java
  backend/src/main/java/com/digginroom/digginroom/exception/OAuthResolverException.java
  backend/src/main/java/com/digginroom/digginroom/service/GoogleUsernameResolver.java
  backend/src/main/java/com/digginroom/digginroom/service/MemberService.java
  backend/src/main/java/com/digginroom/digginroom/service/OAuthUsernameResolver.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberLoginControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/OAuthTestConfig.java
  backend/src/test/java/com/digginroom/digginroom/domain/MemberTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/PasswordTest.java
  backend/src/test/java/com/digginroom/digginroom/service/GoogleUsernameResolverTest.java
  backend/src/test/java/com/digginroom/digginroom/service/MemberServiceTest.java
Labels: backend, feat

#212 feat: 구글 소셜 로그인 기능을 구현한다
  android/app/build.gradle
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/AccountRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/di/ViewModelFactory.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/GoogleLoginRequest.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultAccountRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/service/AccountService.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/SocialLogin.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/activity/ScrapListActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/activity/ScrapRoomActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/viewmodel/ScrapRoomViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/viewmodel/ScrapViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/util/SingleLiveEvent.kt
  android/app/src/main/res/drawable/ic_google_login.png
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_scrap.xml
  android/app/src/main/res/layout/activity_scrap_room.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/digginroom/digginroom/feature/login/LoginViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/feature/scrap/ScrapViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/feature/scraproom/ScrapRoomViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/fixture/AccountFixture.kt
  android/domain/src/main/java/com/digginroom/digginroom/repository/AccountRepository.kt
Labels: android, feat

#199 feat: 멤버가 스크랩 시 해당 룸의 스크랩 수를 업데이트한다
  backend/src/main/java/com/digginroom/digginroom/controller/dto/RoomResponse.java
  backend/src/main/java/com/digginroom/digginroom/domain/Member.java
  backend/src/main/java/com/digginroom/digginroom/domain/MemberGenres.java
  backend/src/main/java/com/digginroom/digginroom/domain/Room.java
  backend/src/main/java/com/digginroom/digginroom/domain/ScrapRooms.java
  backend/src/main/java/com/digginroom/digginroom/service/RoomService.java
  backend/src/test/java/com/digginroom/digginroom/controller/RoomControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/MemberTest.java
  backend/src/test/java/com/digginroom/digginroom/service/RoomServiceTest.java
Labels: backend, feat

#208 feat: Flyway를 적용한다
  backend/build.gradle
  backend/src/main/resources/application-develop.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V1__create_initial_scheme.sql
  backend/src/main/resources/db/migration/V2__member_provider_added.sql
Labels: backend, feat

#215 refactor: 소셜 로그인 인증 예외를 리팩토링한다
  backend/src/main/java/com/digginroom/digginroom/exception/OAuthResolverException.java
  backend/src/main/java/com/digginroom/digginroom/service/GoogleUsernameResolver.java
  backend/src/test/java/com/digginroom/digginroom/service/GoogleUsernameResolverTest.java
Labels: backend, feat

#228 feat: 로그인 응답에 취향정보 수집되었는지 여부 추가
  backend/src/main/java/com/digginroom/digginroom/controller/MemberLoginController.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/MemberLoginResponse.java
  backend/src/main/java/com/digginroom/digginroom/service/MemberService.java
  backend/src/test/java/com/digginroom/digginroom/service/MemberServiceTest.java
Labels: backend, feat, child

#221 feat: 트랙에 음악 설명 필드 추가
  backend/src/main/java/com/digginroom/digginroom/controller/dto/TrackResponse.java
  backend/src/main/java/com/digginroom/digginroom/domain/Track.java
  backend/src/main/resources/db/migration/V3__track_description_added.sql
  backend/src/test/java/com/digginroom/digginroom/controller/TestFixture.java
  backend/src/test/java/com/digginroom/digginroom/domain/TrackTest.java
Labels: backend, feat

#227 chore: CI에서 flywayValidate을 수행
  .github/workflows/dev-ci-application.yml
  .github/workflows/dev-ci-db.yml
  .github/workflows/prod-ci-application.yml
  .github/workflows/prod-ci-db.yml
  backend/build.gradle
Labels: backend

#232 fix: flyway version 변경
  backend/src/main/resources/db/migration/V4__track_description_added.sql
Labels: backend, fix, 🚨긴급🚨

#217 feat: 룸 업로드 기능 구현
  backend/build.gradle
  backend/src/main/java/com/digginroom/digginroom/admin/controller/UploadController.java
  backend/src/main/java/com/digginroom/digginroom/admin/controller/dto/UploadRequest.java
  backend/src/main/java/com/digginroom/digginroom/admin/service/UploadService.java
  backend/src/main/resources/templates/uploadForm.html
Labels: backend, feat

#233 fix: API문서에 서버 주소 명시
  backend/src/main/java/com/digginroom/digginroom/config/OpenApiConfig.java
Labels: backend, fix

#238 RoomRecylcer를 RoomPlayer 3개로 리사이클하게 변경
  android/app/src/main/java/com/digginroom/digginroom/data/entity/HttpError.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/RoomResponse.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/TrackResponse.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/RoomRecycler.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roompager/RoomPager.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/YoutubeRoomPlayer.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/scrollpager/HorizontalScrollPager.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/scrollpager/ScrollPager.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/scrollpager/VerticalScrollPager.kt
Labels: android, feat

#237 feat: 스플래시 화면과 자동 로그인을 구현한다
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/digginroom/digginroom/data/di/ViewModelFactory.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/SplashActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/SplashBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/SplashResultListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/SplashViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/TokenState.kt
  android/app/src/main/res/drawable/ic_diggin_room_logo_headset.png
  android/app/src/main/res/layout/activity_splash.xml
  android/app/src/main/res/values/themes.xml
Labels: android, feat

#239 RoomInfoView 에 스크랩 수를 추가한다.
  android/app/src/main/java/com/digginroom/digginroom/data/entity/RoomResponse.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/RoomModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/mapper/RoomMapper.kt
  android/app/src/main/java/com/digginroom/digginroom/model/mapper/ScrapCountFormatter.kt
  android/app/src/main/res/layout/room_info.xml
  android/app/src/test/java/com/digginroom/digginroom/fixture/RoomFixture.kt
  android/domain/src/main/java/com/digginroom/digginroom/model/room/Count.kt
  android/domain/src/main/java/com/digginroom/digginroom/model/room/Room.kt
  android/domain/src/test/java/com/digginroom/model/room/RoomTest.kt
Labels: android, feat

#247 fix: 룸 탐색시 다시 navigate 하는 오류 수정
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/local/TokenLocalDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/RoomRecycler.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roompager/RoomPager.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/YoutubeRoomPlayer.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/scrollpager/HorizontalScrollPager.kt
Labels: android, feat

#249 feat: 난독화 적용
  android/app/build.gradle
  android/app/proguard-rules.pro
Labels: android, feat

#235 feat: 사용자 정보를 가져온다
  backend/src/main/java/com/digginroom/digginroom/controller/MemberOperationController.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/MemberDetailsResponse.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/MemberLoginResponse.java
  backend/src/main/java/com/digginroom/digginroom/service/MemberService.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberArgumentResolverTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberOperationControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/service/MemberServiceTest.java
Labels: backend, feat

#252 feat: 가중치의 최소값을 변경한다.
  backend/src/main/java/com/digginroom/digginroom/domain/WeightStatus.java
  backend/src/test/java/com/digginroom/digginroom/domain/MemberGenreTest.java
Labels: backend, fix

#225 feat: 댓글 기능을 구현한다.
  backend/src/main/java/com/digginroom/digginroom/DigginRoomApplication.java
  backend/src/main/java/com/digginroom/digginroom/controller/CommentController.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/CommentRequest.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/CommentResponse.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/CommentsResponse.java
  backend/src/main/java/com/digginroom/digginroom/domain/BaseEntity.java
  backend/src/main/java/com/digginroom/digginroom/domain/Comment.java
  backend/src/main/java/com/digginroom/digginroom/domain/Provider.java
  backend/src/main/java/com/digginroom/digginroom/exception/CommentException.java
  backend/src/main/java/com/digginroom/digginroom/repository/CommentRepository.java
  backend/src/main/java/com/digginroom/digginroom/service/CommentService.java
  backend/src/main/java/com/digginroom/digginroom/service/RoomService.java
  backend/src/main/resources/db/migration/V6__comment_added.sql
  backend/src/test/java/com/digginroom/digginroom/TestFixture.java
  backend/src/test/java/com/digginroom/digginroom/controller/CommentControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberJoinControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberLoginControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberOperationControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/RoomControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/MemberGenreTest.java
  backend/src/test/java/com/digginroom/digginroom/domain/MemberTest.java
  backend/src/test/java/com/digginroom/digginroom/repository/MemberRepositoryTest.java
  backend/src/test/java/com/digginroom/digginroom/repository/RoomRepositoryTest.java
  backend/src/test/java/com/digginroom/digginroom/service/MemberServiceTest.java
  backend/src/test/java/com/digginroom/digginroom/service/RoomServiceTest.java
Labels: backend, feat

#253 스크랩 리스트에서 룸 클릭시 흰 화면만 뜨는 오류를 수정한다
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/bindingadapter/RoomPagerBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/RoomRecycler.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roompager/RoomPager.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/YoutubeRoomPlayer.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/scrollpager/HorizontalScrollPager.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/scrollpager/ScrollPager.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/scrollpager/VerticalScrollPager.kt
  android/app/src/main/res/layout/activity_room.xml
  android/app/src/main/res/layout/activity_scrap_room.xml
Labels: android, bug

#256 feat: 댓글 조회 API에 자신의 댓글 여부를 추가
  backend/src/main/java/com/digginroom/digginroom/admin/controller/UploadController.java
  backend/src/main/java/com/digginroom/digginroom/controller/CommentController.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/CommentResponse.java
  backend/src/main/java/com/digginroom/digginroom/service/CommentService.java
  backend/src/main/java/com/digginroom/digginroom/service/RoomService.java
Labels: backend, feat

#254 댓글 수정 완료 시 이벤트 바뀌도록 구현
  android/app/src/main/java/com/digginroom/digginroom/data/entity/CommentResponse.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/CommentDialogBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/CommentEventListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/DefaultCommentEventListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/result/PostCommentResultListener.kt
  android/app/src/main/java/com/digginroom/digginroom/model/TrackModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/mapper/CommentMapper.kt
  android/app/src/main/java/com/digginroom/digginroom/model/mapper/TrackMapper.kt
  android/app/src/main/res/layout/dialog_track_info_layout.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/digginroom/digginroom/model/room/Track.kt
Labels: android, feat

#259 fix: 디렉토리 복사후에 스프링을 실행하도록 변경
  .github/workflows/cd-dev.yml
  .github/workflows/cd-prod.yml
Labels: backend, fix

#261 fix: 스크랩 룸의 마지막 스크랩을 선택했을 때 크래시
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/RoomRecycler.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/RoomInfoView.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roompager/RoomPager.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/YoutubeRoomPlayer.kt
Labels: android, bug

#257 feat: 쿠키 값을 검증하는 api와 연결한다
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/AccountRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/GenreTasteRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/MemberRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/di/RemoteDataSourceProvider.kt
  android/app/src/main/java/com/digginroom/digginroom/data/di/RepositoryProvider.kt
  android/app/src/main/java/com/digginroom/digginroom/data/di/ViewModelFactory.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/LoginResult.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/MemberResponse.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/MemberToken.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultAccountRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultGenreTasteRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultMemberRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/service/GenreTasteService.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/genretaste/GenreTasteViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/DefaultShowRoomInfoListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/RoomInfoView.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/DefaultShowCommentsListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/result/DefaultShowCommentMenuListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/activity/ScrapListActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/activity/ScrapRoomActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/viewmodel/ScrapRoomViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/DefaultSplashNavigator.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/SplashActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/SplashBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/SplashNavigator.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/SplashResultListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/SplashViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/RoomModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/mapper/RoomMapper.kt
  android/app/src/main/res/layout/activity_scrap_room.xml
  android/app/src/main/res/layout/activity_splash.xml
  android/app/src/main/res/layout/room_info.xml
  android/app/src/test/java/com/digginroom/digginroom/feature/genretaste/GenreTasteViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/feature/login/LoginViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/feature/splash/SplashViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/fixture/RoomFixture.kt
  android/domain/src/main/java/com/digginroom/digginroom/model/user/Member.kt
  android/domain/src/main/java/com/digginroom/digginroom/repository/GenreTasteRepository.kt
  android/domain/src/main/java/com/digginroom/digginroom/repository/MemberRepository.kt
  android/domain/src/test/java/com/digginroom/model/room/RoomTest.kt
Labels: android, feat

#264 댓글 작성 시간 차이 포맷팅 수정
  android/app/src/main/java/com/digginroom/digginroom/model/mapper/CommentMapper.kt
Labels: android, fix

#267 feat: 광고 제거
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/RoomRecycler.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/YoutubeRoomPlayer.kt
Labels: android, bug

#268 스크랩, 댓글 요청이 완료되지 않으면 또 다시 요청을 보내지 않도록 구현
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/CommentState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/CommentDialogBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/CommentState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/CommentViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/DeleteCommentAlertDialog.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/CommentEventListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/DefaultCommentEventListener.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/comment/dialog/listener/result/DefaultShowCommentMenuListener.kt
  android/app/src/main/java/com/digginroom/digginroom/model/CommentModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/mapper/CommentMapper.kt
  android/app/src/main/res/layout/dialog_comment_layout.xml
  android/app/src/main/res/layout/item_comment.xml
Labels: android, feat

#274 feat: 버전 업그레이드
  android/app/build.gradle
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roompager/RoomPager.kt
Labels: android

#283 RoomViewModel의 스크랩 기능에 대한 테스트 코드를 작성한다.
  android/app/src/test/java/com/digginroom/digginroom/feature/room/RoomViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/fixture/RoomFixture.kt
Labels: android, feat
