Repository woowacourse-teams/2023-diggin-room, pull requests merged in 2023-10, with the labels that each got.

#352 hotfix: 소셜 로그인 api 하위 호환성 확보 (#351)
  backend/src/main/java/com/digginroom/digginroom/controller/MemberLoginController.java
Labels: backend, fix, 🚨긴급🚨

#333 feat: 게스트 로그인을 구현한다.
  android/app/src/main/res/values/strings.xml
Labels: android, feat

#342 feat: 로그아웃 기능을 구현한다.
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/local/TokenLocalDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultTokenRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/setting/SettingActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/setting/SettingCategoryAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/setting/SettingCategoryDetailViewHolder.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/setting/SettingCategoryDetailsAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/setting/SettingState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/setting/SettingViewHolder.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/setting/SettingViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/SettingCategoryDetailModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/SettingCategoryModel.kt
  android/app/src/main/res/drawable/ic_logout.xml
  android/app/src/main/res/drawable/ic_withdrawal.xml
  android/app/src/main/res/layout/activity_setting.xml
  android/app/src/main/res/layout/item_setting.xml
  android/app/src/main/res/layout/item_setting_detail.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/digginroom/digginroom/repository/TokenRepository.kt
Labels: android, feat

#340 refactor: DTO 패키지 이동 및 각 서비스간 의존을 제거한다.
  backend/src/main/java/com/digginroom/digginroom/controller/CommentController.java
  backend/src/main/java/com/digginroom/digginroom/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/digginroom/digginroom/controller/MemberJoinController.java
  backend/src/main/java/com/digginroom/digginroom/controller/MemberLoginController.java
  backend/src/main/java/com/digginroom/digginroom/controller/MemberOperationController.java
  backend/src/main/java/com/digginroom/digginroom/controller/RoomController.java
  backend/src/main/java/com/digginroom/digginroom/controller/dto/RoomRequest.java
  backend/src/main/java/com/digginroom/digginroom/domain/comment/Comment.java
  backend/src/main/java/com/digginroom/digginroom/repository/MemberRepository.java
  backend/src/main/java/com/digginroom/digginroom/repository/RoomRepository.java
  backend/src/main/java/com/digginroom/digginroom/service/CommentService.java
  backend/src/main/java/com/digginroom/digginroom/service/MemberService.java
  backend/src/main/java/com/digginroom/digginroom/service/RoomService.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/CommentRequest.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/CommentResponse.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/CommentsResponse.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/ErrorResponse.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/FavoriteGenresRequest.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/IdTokenRequest.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/KakaoOAuthRequest.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/MemberDetailsResponse.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/MemberDuplicationResponse.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/MemberLoginRequest.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/MemberLoginResponse.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/MemberSaveRequest.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/RoomRequest.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/RoomResponse.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/RoomsResponse.java
  backend/src/main/java/com/digginroom/digginroom/service/dto/TrackResponse.java
  backend/src/test/java/com/digginroom/digginroom/TestFixture.java
  backend/src/test/java/com/digginroom/digginroom/controller/CommentControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberArgumentResolverTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberLoginControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/MemberOperationControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/RoomControllerTest.java
  backend/src/test/java/com/digginroom/digginroom/controller/dto/MemberSaveRequestTest.java
  backend/src/test/java/com/digginroom/digginroom/repository/CommentRepositoryTest.java
  backend/src/test/java/com/digginroom/digginroom/repository/MemberRepositoryTest.java
  backend/src/test/java/com/digginroom/digginroom/service/MemberServiceTest.java
  backend/src/test/java/com/digginroom/digginroom/service/RoomServiceTest.java
Labels: backend, refactoring

#349 refactor: DB CI 스크립트 개선
  .github/workflows/ci-dev-db.yml
Labels: backend, feat

#344 feat: 피드백 창구를 개설한다
  backend/src/main/java/com/digginroom/digginroom/feedback/FeedbackService.java
  backend/src/main/java/com/digginroom/digginroom/feedback/controller/FeedbackController.java
  backend/src/main/java/com/digginroom/digginroom/feedback/domain/Feedback.java
  backend/src/main/java/com/digginroom/digginroom/feedback/dto/FeedbackRequest.java
  backend/src/main/java/com/digginroom/digginroom/feedback/dto/FeedbackResponse.java
  backend/src/main/java/com/digginroom/digginroom/feedback/repository/FeedbackRepository.java
  backend/src/main/resources/db/migration/V6.2__create_table_feedback.sql
  backend/src/test/java/com/digginroom/digginroom/feedback/FeedbackServiceTest.java
  backend/src/test/java/com/digginroom/digginroom/feedback/controller/FeedbackControllerTest.java
Labels: backend, feat

#341 스크랩 해제 후 메인으로 돌아오면 아이콘 변경되지 않는 버그 해결
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/activity/ScrapListActivity.kt
Labels: android, fix

#360 피드백 창구 구현
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/digginroom/digginroom/DigginRoomApplication.kt
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/FeedbackRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/FeedbackRequest.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/mapper/FeedbackMapper.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultFeedbackRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/service/FeedbackService.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/feedback/FeedbackActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/feedback/FeedbackUiState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/feedback/FeedbackViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomPagerAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/roominfo/RoomInfoEvent.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/roominfo/RoomInfoUiState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/setting/SettingActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/setting/SettingState.kt
  android/app/src/main/java/com/digginroom/digginroom/model/FeedbackModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/SettingCategoryDetailModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/mapper/FeedbackMapper.kt
  android/app/src/main/res/drawable/bg_edittext.xml
  android/app/src/main/res/drawable/ic_feedback.xml
  android/app/src/main/res/drawable/ic_settings.xml
  android/app/src/main/res/layout/activity_feedback.xml
  android/app/src/main/res/layout/activity_genre_taste.xml
  android/app/src/main/res/layout/activity_join.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_scrap.xml
  android/app/src/main/res/layout/activity_setting.xml
  android/app/src/main/res/layout/activity_splash.xml
  android/app/src/main/res/layout/item_room_info.xml
  android/app/src/main/res/layout/item_setting.xml
  android/app/src/main/res/layout/item_setting_detail.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/domain/src/main/java/com/digginroom/digginroom/model/feedback/Feedback.kt
  android/domain/src/main/java/com/digginroom/digginroom/repository/FeedbackRepository.kt
Labels: android, feat

#369 feat: 곡 정보 클릭시 클립보드에 복사
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/roominfo/RoomInfoEvent.kt
  android/app/src/main/res/layout/item_room_info.xml
  android/app/src/main/res/values/strings.xml
Labels: android, feat

#370 feat: 곡 재생 20~60초 사이에 랜덤으로 재생 시작
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/YoutubePlayerIframe.kt
Labels: android, feat

#372 fix: docker volumes이 삭제되지 않는 문제 해결
  .github/workflows/ci-dev-db.yml
Labels: backend, bug

#366 feat: 플레이리스트 추출 기능을 구현한다.
  android/RoomPager/src/main/java/com/dygames/roompager/RoomRecycler.kt
  android/RoomPager/src/main/java/com/dygames/roompager/scrollpager/VerticalScrollPager.kt
  android/RoomPager/src/main/java/com/dygames/roompager/util/ScreenSizeUtil.kt
  android/app/src/main/java/com/digginroom/digginroom/DigginRoomApplication.kt
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/local/ExtractionStateDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/datasource/remote/RoomRemoteDataSource.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/PlaylistRequest.kt
  android/app/src/main/java/com/digginroom/digginroom/data/entity/PlaylistResponse.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultExtractionStateRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/DefaultRoomRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/repository/SampleRoomRepository.kt
  android/app/src/main/java/com/digginroom/digginroom/data/service/RoomService.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/join/JoinActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/join/JoinUiState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/join/JoinViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/SocialLogin.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/ScrapBindingAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/activity/ScrapListActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/adapter/ScrapAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/adapter/ScrapRoomDiffUtilCallback.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/adapter/ScrapRoomViewHolder.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/navigator/DefaultScrapNavigator.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/navigator/ScrapNavigator.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/viewmodel/ScrapUiEvent.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/viewmodel/ScrapUiState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/viewmodel/ScrapViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/livedata/NonNullMutableLiveData.kt
  android/app/src/main/java/com/digginroom/digginroom/model/ScrappedRoomModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/mapper/PlaylistMapper.kt
  android/app/src/main/java/com/digginroom/digginroom/model/mapper/RoomMapper.kt
  android/app/src/main/res/drawable/ic_add_playlist.xml
  android/app/src/main/res/drawable/ic_arrow_left.png
  android/app/src/main/res/drawable/ic_arrow_left.xml
  android/app/src/main/res/drawable/ic_checked_box.xml
  android/app/src/main/res/drawable/ic_etc.xml
  android/app/src/main/res/drawable/ic_extract_playlist.xml
  android/app/src/main/res/drawable/ic_extracting_playlist.png
  android/app/src/main/res/drawable/ic_unchecked_box.xml
  android/app/src/main/res/layout/activity_join.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_scrap.xml
  android/app/src/main/res/layout/item_scrapped_room.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/digginroom/digginroom/feature/join/JoinViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/feature/scrap/ScrapViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/fixture/RoomFixture.kt
  android/domain/src/main/java/com/digginroom/digginroom/model/room/scrap/ScrappedRoom.kt
  android/domain/src/main/java/com/digginroom/digginroom/model/room/scrap/ScrappedRooms.kt
  android/domain/src/main/java/com/digginroom/digginroom/model/room/scrap/playlist/Playlist.kt
  android/domain/src/main/java/com/digginroom/digginroom/repository/ExtractionStateRepository.kt
  android/domain/src/main/java/com/digginroom/digginroom/repository/RoomRepository.kt
Labels: android, feat

#389 댓글 포스트 안되는 문제 해결
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/dialog/CommentDialog.kt
Labels: android, feat

#388 refactor: minSdk를 수정한다.
  android/RoomPager/src/main/java/com/dygames/roompager/util/ScreenSizeUtil.kt
  android/app/build.gradle
Labels: android, refactoring

#380 refactor: GenreRecommender를 Domain Layer로 분리
  backend/src/main/java/com/digginroom/digginroom/domain/recommend/RoomRecommender.java
  backend/src/main/java/com/digginroom/digginroom/exception/RecommendException.java
  backend/src/main/java/com/digginroom/digginroom/service/GenreRecommender.java
  backend/src/main/java/com/digginroom/digginroom/service/RoomService.java
Labels: backend, refactoring

#392 refactor: 뒤로가기 버튼 크기를 통일한다.
  android/app/src/main/res/layout/activity_feedback.xml
  android/app/src/main/res/layout/activity_setting.xml
Labels: android, refactoring

#403 fix: release 버전에서 플레이리스트 추출이 되지 않는 오류를 해결한다.
  android/app/src/main/java/com/digginroom/digginroom/data/entity/PlaylistResponse.kt
Labels: android, 🚨긴급🚨

#400 댓글창에 다크모드 적용 및 뷰 성능 개선
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/dialog/BottomFixedItemBottomSheetDialog.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/dialog/CommentDialog.kt
  android/app/src/main/res/layout/dialog_comment_bottom_placed_item_layout.xml
  android/app/src/main/res/layout/dialog_comment_layout.xml
  android/app/src/main/res/layout/item_room_info.xml
Labels: android, feat

#405 refactor: RoomPager 외부 모듈 분리
  android/RoomPager/.gitignore
  android/RoomPager/build.gradle
  android/RoomPager/consumer-rules.pro
  android/RoomPager/proguard-rules.pro
  android/RoomPager/src/androidTest/java/com/dygames/roompager/ExampleInstrumentedTest.kt
  android/RoomPager/src/main/AndroidManifest.xml
  android/RoomPager/src/main/java/com/dygames/roompager/Adapter.kt
  android/RoomPager/src/main/java/com/dygames/roompager/PagingOrientation.kt
  android/RoomPager/src/main/java/com/dygames/roompager/PagingState.kt
  android/RoomPager/src/main/java/com/dygames/roompager/RoomPager.kt
  android/RoomPager/src/main/java/com/dygames/roompager/RoomRecycler.kt
  android/RoomPager/src/main/java/com/dygames/roompager/scrollpager/HorizontalScrollPager.kt
  android/RoomPager/src/main/java/com/dygames/roompager/scrollpager/ScrollPager.kt
  android/RoomPager/src/main/java/com/dygames/roompager/scrollpager/VerticalScrollPager.kt
  android/RoomPager/src/main/java/com/dygames/roompager/util/ScreenSizeUtil.kt
  android/RoomPager/src/test/java/com/dygames/roompager/ExampleUnitTest.kt
  android/app/build.gradle
  android/app/build.gradle.kts
  android/app/proguard-rules.pro
  android/build.gradle
  android/build.gradle.kts
  android/domain/build.gradle
  android/domain/build.gradle.kts
  android/settings.gradle
Labels: android, refactoring

#406 refactor: 로그인 실패에 대한 분기를 처리한다.
  android/app/src/main/java/com/digginroom/digginroom/feature/join/JoinUiState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/join/JoinViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginUiState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/login/LoginViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomPagerAdapter.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roominfoview/RoomInfoView.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/RoomPlayer.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/customview/roomplayer/YoutubeRoomPlayer.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/roominfo/RoomInfoEvent.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/roominfo/RoomInfoType.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/splash/SplashViewModel.kt
  android/app/src/main/res/drawable/ic_arrow_left.xml
  android/app/src/main/res/drawable/ic_back.png
  android/app/src/main/res/drawable/ic_back_shadow.png
  android/app/src/main/res/layout/activity_feedback.xml
  android/app/src/main/res/layout/activity_join.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_scrap.xml
  android/app/src/main/res/layout/activity_setting.xml
  android/app/src/main/res/layout/item_room_info.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/digginroom/digginroom/feature/login/LoginViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/feature/splash/SplashViewModelTest.kt
Labels: android, refactoring

#411 UI를 개선한다.
  android/app/src/main/java/com/digginroom/digginroom/feature/room/RoomActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/room/comment/dialog/BottomFixedItemBottomSheetDialog.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/activity/ScrapListActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/scrap/viewmodel/ScrapViewModel.kt
  android/app/src/main/java/com/digginroom/digginroom/model/mapper/GenreTasteMapper.kt
  android/app/src/main/res/drawable/bg_gradient_blue_radius.xml
  android/app/src/main/res/drawable/bg_gradient_gray_radius.xml
  android/app/src/main/res/drawable/bg_stroke_gray_radius_1dp.xml
  android/app/src/main/res/drawable/bg_vertical_gradient.xml
  android/app/src/main/res/layout/activity_feedback.xml
  android/app/src/main/res/layout/activity_genre_taste.xml
  android/app/src/main/res/layout/activity_join.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_scrap.xml
  android/app/src/main/res/layout/activity_setting.xml
  android/app/src/main/res/layout/item_genre.xml
  android/app/src/main/res/layout/item_room_info.xml
  android/app/src/main/res/layout/item_scrapped_room.xml
  android/app/src/main/res/layout/view_header.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/java/com/digginroom/digginroom/feature/genretaste/GenreTasteViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/fixture/RoomFixture.kt
  android/domain/src/main/java/com/digginroom/digginroom/model/room/genre/Genre.kt
  android/domain/src/test/java/com/digginroom/model/room/RoomTest.kt
Labels: android, refactoring

#417 fix: binding parameter log를 확인할 수 없는 문제 해결
  backend/src/main/resources/application-local.yml
Labels: backend

#421 스프링 엑츄에이터를 사용해 서버의 버전 관리를 한다.
  backend/build.gradle
  backend/src/main/resources/application.yml
Labels: backend, feat

#425 refactor: 누락된 테스트 코드 작성
  android/app/src/main/java/com/digginroom/digginroom/feature/setting/SettingActivity.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/setting/SettingUiState.kt
  android/app/src/main/java/com/digginroom/digginroom/feature/setting/SettingViewModel.kt
  android/app/src/test/java/com/digginroom/digginroom/feature/login/LoginViewModelTest.kt
  android/app/src/test/java/com/digginroom/digginroom/feature/setting/SettingViewModelTest.kt
Labels: android, refactoring
